<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<p class="show"><strong>Title:</strong>
<%= @book.title %></p>

<p class="show"><strong>Body:</strong>
<%= @book.body %></p>

<% end %>

  <div class="show-wrap">
  	<div class="show-edit"><%= link_to "edit", edit_book_path(@book.id) %></div>
  	<div class="show-back"><%= link_to 'back', :books %></div>
  	<div class="show-destroy"><%= link_to "destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %></div>
  </div>